<!DOCTYPE html>
<html>
    <head>
        <link href="/public/css/main.css" rel="stylesheet" type="text/css">
        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    </head>
    <body class="container">
        <header>Hello Everyone</header>
        {{{body}}}
    </body>
</html>